<div class="post-hero">
	<h1>Listing ideas</h1>
</div>

<div class="container text-center hero-title">
	<h2>Keep calm and carry on.</h2>
	<div class="col-md-6 col-md-offset-3">
		<hr/>
	</div>
</div>

<div class="container text-center">
	<% @ideas.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |idea| %>
		<div class="col-md-4 gallery-item">
			<div class="hero-item">
				<div class="thumb">
					<%= image_tag idea.picture_url if idea.picture? %>
				</div>
				<div class="description">
					<h4><%= link_to idea.name, idea %></h4>
					<%= idea.description %>
				</div>
			</div>
		</div>
		<% end %>
		

	</div>
	<% end %>
</div>